body{
    font-family: calibri;
}
.registro{
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.inputProducto{
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000000;
    background-color: #d2d2d2;

}
.inputProducto:focus{
    background-color: #e6f7ff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-sizing: border-box;
}

